$colors: (
  blue: $first-btn-color,
  orange: $second-btn-color,
  green: $third-btn-color,
);

@each $key, $color in $colors {
  .btn-#{$key} {
    background-color: $color;
    border: 2px solid scale-color($color, $lightness: -20%);
    padding: $size-2 $size-3;
    font-family: inherit;
    font-size: $font-size-1;
    border-radius: $size-4;
  }
}
