$size-0: 0;
$size-1: 0.25rem;
$size-2: 0.5rem;
$size-3: 1rem;
$size-4: 1.5rem;
$size-5: 3rem;
$size-6: 6rem;

$directions: block, inline;
$spaces: (
  sm: 10px,
  normal: 16px,
  md: 20px,
  lg: 30px,
  xl: 40px,
  xxl: 50px,
);

@each $key, $value in $spaces {
  @each $dir in $directions {
    .padding-#{$dir}-#{$key} {
      padding-#{$dir}: $value;
    }
    .margin-#{$dir}-#{$key} {
      margin-#{$dir}: $value;
    }
  }
  .padding-#{$key} {
    padding: $value;
  }

  .margin-#{$key} {
    margin: $value;
  }
}
