$size-0: 0;
$size-1: 0.25rem;
$size-2: 0.5rem;
$size-3: 1rem;
$size-4: 1.5rem;
$size-5: 3rem;
$size-6: 6rem;

@mixin dynamicSpacing() {
  margin-top: $size-1;
  margin-bottom: $fontValue;
  @if ($fontValue==$bodyFont) {
    margin-bottom: $size-2;
  } @else {
    margin-bottom: $size-4;
  }

  padding-inline: $size-2;
  padding-block: $fontValue;
  @if ($fontValue==$bodyFont) {
    padding-block: $size-4;
  } @else {
    padding-block: $size-2;
  }
}
$size-i: "size-0", "size-1", "size-2", "size-3", "size-4", "size-5", "size-6";
$paddingInlineNames: "sm", "normal", "md", "lg", "xl", "xxl";
@each $paddingInline in $paddingInlineNames {
  .pd-#{$paddingInline} {
    padding-inline: $size-i;
  }
}
$paddingBlockNames: "sm", "normal", "md", "lg", "xl", "xxl";

$marginInlineNames: "sm", "normal", "md", "lg", "xl", "xxl";

$marginBlockNames: "sm", "normal", "md", "lg", "xl", "xxl";
