@import "./partials/reset";
@import "./partials/colors";
@import "./partials/font";
@import "./partials/spaces";
@import "./partials/buttons";
@import "./partials/mixins";
@import "./partials/animations";

.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c95c95;

  img {
    margin: $size-2;
    width: 5rem;
    @include floating(50px, 0 0 0 rgb(0 0 0/ 0), 1px solid white);
  }

  nav {
    width: 40rem;

    ul {
      display: flex;
      justify-content: space-around;

      li {
        list-style-type: none;
        font-size: $font-size-2;
      }
    }
  }
}

main {
  padding: $size-5;
  .hero {
    padding: $size-4;
    .flex-hero {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-block: 2rem;
      div {
        width: 50%;
        @include slideFromTop(1s, -10px, 0px, content, 0.15s);
        h1 {
          @include title-big();
        }

        .buttons {
          margin-inline: $size-6;
          padding: $size-2;
          width: 100%;
        }
      }
      img {
        max-width: 30rem;
        @include floating(10px, 0 20px 30px rgb(0 0 0/ 0.6), 2px solid white);
        @include slideFromTop(1s, -40px, 15px, content-img, 0.5s);
      }
    }
  }
  .flex-article {
    @include article(3, 10px);
    padding-block: 3rem;
    div {
      @include floating(4px, 0 10px 15px rgb(0 0 0/ 0.4));
      overflow: hidden;
      img {
        display: block;
        width: 100%;
      }
    }
  }
}
